Django==4.2.18
asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
django-scheduler==0.10.1
icalendar==6.1.0
idna==3.10
load-dotenv==0.1.0
pip==23.2.1
pytelegrambotapi==4.26.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
schedule==1.2.2
setuptools==68.2.0
six==1.17.0
sqlparse==0.5.3
typing-extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
wheel==0.41.2
apscheduler